# OS
.DS_Store
Thumbs.db

# Python / Backend
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# Env
.env
.env.*
!.env.example

# Logs
*.log

# Editor
.idea/
*.suo
*.sw?
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json